@model IEnumerable<Domain.Entities.Product>

@{
    ViewData["Title"] = "Index";
}






<div id="wrapper">

    <h1>Grocery List</h1>
    <form asp-action="Index" method="get">
       
        <div class="form-actions no-color search">
            <p>
                Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>
    <table id="keywords" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>
                    <div id="modDialog" class="modal fade">
                        <div id="dialogContent" class="modal-dialog"></div>
                    </div>
                </th>
                <th>
                    <span>
                        @Html.DisplayNameFor(model => model.Name)
                    </span>
                </th>
                <th>
                    <span>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </span>
                </th>
                <th>
                    <span>
                        Actions
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                        @Html.DisplayFor(modelItem => item.dimension)
                    </td>
                    <td>

                        @Html.ActionLink("Edit", "Edit",
           new { id = item.ProductId })

                        @Html.ActionLink("Details", "Details",
       new { id = item.ProductId })

                        @Html.ActionLink("Delete", "Delete",
        new { id = item.ProductId }, new { @class = "compItem" })
                       
                        @*<a asp-action="Delete" asp-route-id="@item.ProductId" asp-route-class="compItem">Delete</a>*@
                    </td>
                </tr>
            }

        </tbody>

    </table>



</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}